; Top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = LF

; 4-column space indentation
[*.h]
indent_style = tab
indent_size = 4

; 2-column tab indentation
[*.c]
indent_style = tab
indent_size = 4

; 2-column tab indentation
[*.cpp]
indent_style = tab
indent_size = 4