build
build2
/neo/*.user
/neo/*.opensdf
/neo/*.sdf
/neo/ipch/doomdll-ac2305e6/*.ipch
/neo/*.suo
*.ipch
/base/doomkey
/base/xpkey
/game
/d3xp
/game-d3xp
/neo/sys/win32/rc/*.aps
/base/maps/*.bak
/base/pak004.pk4
/base/pak000.pk4
/base/pak001.pk4
/base/pak002.pk4
/base/pak003.pk4
/base/DoomConfig.cfg
/base/config.spec
/base/warnings.txt
/base/editor.cfg
/base/maps/*.cm
/base/maps/*.proc
*.aas48
/base/doom.qe4
*.proc
/base/savegames/*.save
/base/screenshots
/base/savegames
/base/glsl/*.i
/game-d3xp
